body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
}
.social-icons .nav-item {
    margin-right: 3px;
}
.nav-item {
    margin-left: 10px;
    font-size: larger;
    font-weight: 700;
    padding-bottom: 0;
}

.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #b3cada8f;
    margin: 15px;
}

.column {
    flex: 1;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}

h2 {
    color: #02090a;
    text-align: center;
}

h3 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
}

p {
    color: #02090a;
    display: flex;
    padding: 0px;
    text-align: left;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00BCD4;
    color: #fff;
    border-radius: 39px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 0px;
}

/* New "What We Do" section */
.services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ecf0f1;
    padding: 0px;
    text-align: center;
}

.what-we-do-column {
    flex: 1;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
    color: #fff;
}
.what-we-do {
    margin: 15px;
    padding: 20px;
    margin-bottom: 5%;
}
.Why-us {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #b3cada8f;
    margin: 15px;
}
.why-us-column {
    flex: 1;
    padding: 20px;
    /* text-align: center; */
    border-radius: 10px;
    margin: 10px;
}
.bottom-arrow::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 20px;
    height: 2px;
    background-color: #3498db;
}

.bottom-arrow {
    bottom: -20px;
}
.bottom-arrow::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg); /* Updated rotation to -45 degrees */
    width: 20px;
    height: 2px;
    background-color: #3498db;
}

.about-us {
    flex: 0.9;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    text-align: left;
    border-radius: 0.62rem;
    justify-content: left;
    align-items: flex-start;
    margin: 0.62rem;
    font-size: 1.2em;
  }
  
  .about-us p {
    text-align: left;
  }
  
  .header-about-us {
    margin-top: 1rem;
  }
  
  li {
    text-align: left;
    font-weight: 700;
  }

  .about-us ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    list-style-type: circle;
    font-size: 0.8em;
    margin-left: 1.2rem;
    font-weight: 600;
  }
  .about-us ul p {
    font-size: 0.9em;
    margin-top: 0;
    font-weight: 200;
  }
  #sig_log {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f9fa; /* Optional: Add background color */
    padding: 10px;
}

#sel1,
#sel2 {
    display: flex;
    align-items: center;
}

#sel1 label,
#sel2 label {
    margin-right: 10px;
}

select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.footer {
    background-color: rgb(161, 148, 148);
    margin: 15px;
    padding: 20px;
    position: relative;
    bottom: 0;
    padding: 10px 0;
}

/* Responsive */
@media (max-width: 767px) {
    #logout {
        flex-direction: column;
    }
}