table {
    border-collapse: collapse;
    width: 98%;
    margin: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
.approve-button {
    background-color: green;
    color: white;
}

.decline-button {
    background-color: red;
    color: white;
}