{% extends 'base.html' %}

{% block content %}
  <h1>Welcome, Dr.{{ current_user.first_name }} {{ current_user.last_name }}!</h1>

  <iframe src="https://calendar.google.com/calendar/embed?src=183c0ea5390b7520310ea2ffe395dff330910f10e8d66d84ae716b0dece57ef9%40group.calendar.google.com&ctz=UTC" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

  <h2>Future Appointments:</h2>
  <ul>
    {% for appointment in apps if appointment.appointment_time > now %}
      <li>
        {{ appointment.appointment_time }} - {{ appointment.purpose }} - {{ revs.first_name }} {{ revs.last_name}}
      </li>
    {% endfor %}
  </ul>

  <h2>Past Appointments:</h2>
  <ul>
    {% for appointment in apps if appointment.appointment_time <= now %}
      <li>
        {{ appointment.appointment_time }} - {{ appointment.purpose }} - {{ revs.first_name }} {{ revs.last_name}}
        <ul>
          {% for review in revs[loop.index0] %}
            <li>
              Rating: {{ review.rating }} - {{ review.comment }}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock %}