{% extends 'base.html' %}

{% block content %}
  <h1>Welcome, Dr.{{ current_user.first_name }} {{ current_user.last_name }}!</h1>

  <h2>Future Appointments:</h2>
  <ul>
    {% for appointment in apps if appointment.appointment_time > now %}
      <li>
        {{ appointment.appointment_time }} - {{ appointment.purpose }} - {{ revs.first_name }} {{ revs.last_name}}
      </li>
    {% endfor %}
  </ul>

  <h2>Past Appointments:</h2>
  <ul>
    {% for appointment in apps if appointment.appointment_time <= now %}
      <li>
        {{ appointment.appointment_time }} - {{ appointment.purpose }} - {{ revs.first_name }} {{ revs.last_name}}
        <ul>
          {% for review in revs[loop.index0] %}
            <li>
              Rating: {{ review.rating }} - {{ review.comment }}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock %}