{% extends 'base.html' %}

{% block title %} Leave Review {% endblock %}

{% block content %}
  <h1>Leave a Review for Dr. {{ doctor.first_name }} {{ doctor.last_name }}</h1>

  <form action="{{ url_for('views.leave_review')}}" method="post">
    <label for="rating">Rating:</label>
    <input type="number" name="rating" min="1" max="5" step="1" required>

    <label for="comment">Comments:</label>
    <textarea name="comment" rows="4" required></textarea>

    <button type="submit">Submit Review</button>
  </form>
{% endblock %}
