{% extends 'base.html' %}

{% block title %} Dr.{{ doctor.first_name }} {{ doctor.last_name }} {% endblock %}

{% block content %}
  <section class="profil_section" style="margin: 5%";>
  <h1 style="margin-bottom: 15px;">Dr.{{ doctor.first_name }} {{ doctor.last_name }}!</h1>

  <div id="profile-picture-container" class="profile-picture-container">
    {% if image_exists %}
      <img
        id="profile-picture"
        style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover; border: 4px solid green; margin-bottom: 40px;"
        src="{{ url_for('static', filename='doctor_profile/' + user_id + '.jpg') }}"
        alt="Profile picture"
      />
    {% else %}
      <img
        id="profile-picture"
        style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover; border: 4px solid green; margin-bottom: 40px;"
        src="{{ url_for('static', filename='avatar1.png') }}"
        alt="Avatar"
      />
    {% endif %}
  </div>
  </section>

<h2>Reviews</h2>
<table style="margin: 15px; width: 98%;">
  <thead>
    <tr>
      <th>Patient</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for appointment in apps if appointment.status == 'completed' %}
      <tr>
        <td>{{ revs[appointment.id].patient.first_name }} {{ revs[appointment.id].patient.last_name }}</td>
        <td>
          {% if revs[appointment.id].review is not none %}
            <div class="star-rating">
              {% for _ in range(revs[appointment.id].review.rating) %}
                <span class="star">&#9733;</span> <!-- Unicode character for a filled star -->
              {% endfor %}
              {% for _ in range(5 - revs[appointment.id].review.rating) %}
                <span class="star">&#9734;</span> <!-- Unicode character for an outline star -->
              {% endfor %}
            </div>
            {{ revs[appointment.id].review.comment }}
          {% else %}
            No reviews found
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

  <script>
      document.addEventListener('DOMContentLoaded', function () {
      const profilePictureContainer = document.getElementById('profile-picture-container');
      const fileInput = document.getElementById('image-input');
      const submitButton = document.getElementById('submit-button');
  
      profilePictureContainer.addEventListener('click', function () {
        // Trigger the file input when the profile picture is clicked
        fileInput.click();
      });
  
      fileInput.addEventListener('change', function () {
        // Handle file selection
        if (fileInput.files && fileInput.files[0]) {
          const reader = new FileReader();
  
          reader.onload = function (e) {
            // Update the profile picture source with the selected image
            document.getElementById('profile-picture').src = e.target.result;
          };
  
          reader.readAsDataURL(fileInput.files[0]);
          // Trigger the form submission when a file is selected
          submitButton.click();
        }
      });
    });

    document.addEventListener('DOMContentLoaded', function () {
      const toggleFormButton = document.getElementById('toggle-form-button');
      const updateProfileForm = document.querySelector('.update-profile');

      toggleFormButton.addEventListener('click', function () {
        // Toggle the visibility of the update-profile form
        updateProfileForm.style.display = updateProfileForm.style.display === 'none' ? 'block' : 'none';
      });
    });
  </script>

{% endblock %}
