{% extends 'base.html' %}

{% block title %} Specializations {% endblock %}
{% block content %}
<section>
    <div class="top">
      <h2>List of Specializations</h2>
      <input type="text" placeholder="Search.." id="search-input" />
    </div>
    <ul>
        {% for specialization in specializations %}
            <li><a href="{{ url_for('views.doctors_by_specialization', specialization_id=specialization.id) }}">{{ specialization.name }}</a></li>
        {% endfor %}
    </ul>
  
  </section>

{% endblock %}