{% extends 'base.html' %}

{% block title %} Specialists {% endblock %}
{% block content %}
<section>
    <div class="top">
      <h2>Our Specialists:</h2>
      <form action="{{ url_for('views.our_specialists') }}" method="get">
        <label for="search">Search Specialization:</label>
        <input type="text" id="search" name="search">
    </form>
    </div>
    <div class="doctor-sections">
      <div class="doctor-row">
          {% set counter = 0 %} {% for doctor in doctors %} {% if counter % 3 == 0 and
          not loop.first %}
      </div>
      <div class="doctor-row">
          {% endif %}
          <div class="doctor-details">
              <h3><a href="/doctor/{{ doctor.id }}">{{ doctor.name }}</a></h3>
              <img
                  src="../static/doctor_profile/{{ doctor.id }}.jpg"
                  alt="Profile Picture"
              />
              <p>Dr.: {{ doctor.first_name }} {{ doctor.last_name }}</p>
              <p>Speciality: {{ doctor.speciality }}</p>
              <p>Bio: {{ doctor.bio }}</p>
              <a href="{{ doctor.calendly_link }}" target="_blank" class="btn">Appointment</a>
              <a href="{{ doctor.location_iframe }}" >Location</a>                          
              <!-- <div class="location-iframe" style="width: 15%; height: 15%;">
                {{ doctor.location_iframe }}
              </div> -->
          </div>
          {% set counter = counter + 1 %} {% endfor %}
      </div>
  </div>
  
  </section>

{% endblock %}